.card {
    display:grid;
   grid-template-columns: repeat(3,1fr);
  width:75%;
  height:auto;
  gap:17px;
  margin-left: 100px;
 
 
}
.box {
    width:88%;
    height:70px;
    /* border:1px solid black; */
    margin-left: 100px;
    background-color: white;
    margin-top: 24px;
    border-radius: 5px;
    text-align: center;
    padding:10px;
   

}

.scndCard {
    border:1px solid red;
    
}

.teddy {
   width:92%;
   margin:auto;
   padding:20px;
   margin-left: 80px;
   
  
}

.thirdCard {
    display:flex;
    width:256.8px;
    /* border: 1px solid black; */
    /* margin:auto; */
    margin-left: 100px;
    margin-top: -21px;
    border-radius:8px;
    /* padding:0px;
    border:1px solid red; */
}

 .img{
    border-radius:1px;
    width:260px;
    height:350px;
}
.forthCard {
    display: flex;
    width:89.3%;
    margin-left: 100px;
}

