

.firstFooter {
    width:100%;
    border:1px solid black;


}
#scndFooter {
    border:1px solid red;
   margin:auto;
   width:30%;
   border-radius: 30px;
   padding:5px;
   font-size: 32px;
   font-style:initial



}

.thirdFooter {
    width:10%;
}