


.frst {
   
    /* display: none; */
    border: 1px solid red;
    
}

.ffrst {
    display: flex;

}

.mydiv:hover + .frst {
    display: block;

    
}
.mydiv {
    cursor: pointer;
  

}

.scnd {
   
 border: 1px solid black;
 width: 17%;
 margin-top: 46px;
}

.third {
    border: 1px solid black;
 width: 17%;
 margin-top: 46px;

}
.forth{
    border: 1px solid black;
 width: 17%;
 margin-top: 46px;

}